<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gourmetlist</key>
	<array>
		<dict>
			<key>genre</key>
			<string>cafe</string>
			<key>latitude</key>
			<string>136.952281</string>
			<key>comment</key>
			<string>コメント</string>
			<key>starevaluation</key>
			<string>星で評価</string>
			<key>address</key>
			<string>住所</string>
			<key>longitude</key>
			<string>35.246319</string>
			<key>storename</key>
			<string>店名</string>
			<key>picture</key>
			<string>写真</string>
			<key>no</key>
			<string></string>
			<key>phonenumber</key>
			<string>電話番号</string>
			<key>shophours</key>
			<string>営業時間</string>
		</dict>
		<dict>
			<key>genre</key>
			<string>cafe</string>
			<key>latitude</key>
			<string>136.912951</string>
			<key>comment</key>
			<string>コメント</string>
			<key>starevaluation</key>
			<string>星で評価</string>
			<key>address</key>
			<string>住所</string>
			<key>longitude</key>
			<string>35.165182</string>
			<key>storename</key>
			<string>店名</string>
			<key>picture</key>
			<string>写真</string>
			<key>no</key>
			<string></string>
			<key>phonenumber</key>
			<string>電話番号</string>
			<key>shophours</key>
			<string>営業時間</string>
		</dict>
		<dict>
			<key>genre</key>
			<string>ラーメン</string>
			<key>latitude</key>
			<string>136.92834</string>
			<key>comment</key>
			<string>コメント</string>
			<key>starevaluation</key>
			<string>星で評価</string>
			<key>address</key>
			<string>住所</string>
			<key>longitude</key>
			<string>35.183069</string>
			<key>storename</key>
			<string>店名</string>
			<key>picture</key>
			<string>写真</string>
			<key>no</key>
			<string></string>
			<key>phonenumber</key>
			<string>電話番号</string>
			<key>shophours</key>
			<string>営業時間</string>
		</dict>
	</array>
</dict>
</plist>
