<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>recommendlist</key>
	<array>
		<dict>
			<key>genre</key>
			<string>イベント</string>
			<key>name</key>
			<string>イベント名１</string>
			<key>recommend</key>
			<string>☆☆</string>
			<key>address</key>
			<string>住所</string>
			<key>longitude</key>
			<string>経度</string>
			<key>latitude</key>
			<string>緯度</string>
			<key>comment</key>
			<string>コメント</string>
			<key>picture</key>
			<string>写真</string>
			<key>inquiry</key>
			<string>質問</string>
			<key>homepage</key>
			<string>ホームページ</string>
		</dict>
		<dict>
			<key>genre</key>
			<string>ショップ</string>
			<key>name</key>
			<string>名前２３</string>
			<key>recommend</key>
			<string>☆☆☆</string>
			<key>address</key>
			<string>住所</string>
			<key>longitude</key>
			<string>経度</string>
			<key>latitude</key>
			<string>緯度</string>
			<key>comment</key>
			<string>コメント</string>
			<key>picture</key>
			<string>写真</string>
			<key>inquiry</key>
			<string></string>
			<key>homepage</key>
			<string>ホームページ</string>
		</dict>
		<dict>
			<key>genre</key>
			<string>フェスティバル</string>
			<key>name</key>
			<string>名前７７７７</string>
			<key>recommend</key>
			<string>☆☆☆☆</string>
			<key>address</key>
			<string>住所</string>
			<key>longitude</key>
			<string>経度</string>
			<key>latitude</key>
			<string>緯度</string>
			<key>comment</key>
			<string>コメント</string>
			<key>picture</key>
			<string>写真</string>
			<key>inquiry</key>
			<string></string>
			<key>homepage</key>
			<string>ホームページ</string>
		</dict>
	</array>
</dict>
</plist>
